body{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  /* 1em = 100% = 16px*/ /*5.625em = 562.5% = 90px*/
  /*rem = root em. It ignores adding the font size from parent element.*/
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px 0;
}
.profile{
  width: 30%;
  margin: auto;
  color: #40514E;
}
hr{
  color: #d7d1c9;
  border-style: dotted none none none;
  height: 10px;
  width: 5%;
  border-width: 5px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  line-height: 2;
}
.middle-container{
  margin-top: 50px;
}
.bottom-container{
  background-color: #66BFBF;
  color: #EAF6F6;
  line-height: 2;
  padding: 20px;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}
.bottom-cloud{
  position: absolute;
  bottom: 100px;
  left: 300px;
}
.my-photo{
  border-radius: 100%;
}
.moving-image{
  width: 25%;
  float: right;
}
.developer{
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
iframe{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.contact-me{
  width: 30%;
  margin: auto;
  line-height: 2;
}
.button {
	box-shadow:inset 0px 1px 0px 0px #baf3f5;
	background:linear-gradient(to bottom, #7aebff 5%, #39cfe3 100%);
	background-color:#7aebff;
	border-radius:6px;
	border:1px solid #85dcf2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #54cccc;
  margin: 30px auto 70px auto;
}
.button:hover {
	background:linear-gradient(to bottom, #39cfe3 5%, #7aebff 100%);
	background-color:#39cfe3;
}
.button:active {
	position:relative;
	top:1px;
}
    
/* To undo wrap
.skill-description1{
  clear: left;
}
.skill-description2{
  clear: right;
}
*/
